<md-card id="heroform">
    <div layout="column" layout-fil layout-align="center center">
        <div layout="column" layout-align="center center">
            <h2>The meeting is created!</h2>
            You will get notified once participants specified their availability for the meeting and the timeslot is arranged
        </div>

        <br>
        <div layout-align="center center">
            <button class="md-raised" ng-click="$ctrl.setAvailability()">Set your availability</button>
        </div>
    </div>
    <br>
</md-card>
