<!--<label>Choose one of your teams</label>-->
<!--<select class="size-long" ng-model="$ctrl.meeting.participants" ng-options="chosenMeeting.participants as chosenMeeting.name for chosenMeeting in $ctrl.meetings">-->
<!--<option value="">Select team</option>-->
<!--</select>-->
<!--</label>-->
<!--<br/>-->

<!--<md-input-container class="md-block">-->
<!--<label>Invite people</label>-->
<!--<input type="text" name="newPerson" ng-model="$ctrl.newPerson" placeholder="Name or email" required=""/>-->
<!--</md-input-container>-->

<md-card>
    <md-card-content>
        <md-autocomplete
                md-selected-item="$ctrl.selectedItem"
                md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
                md-search-text="$ctrl.searchText"
                md-selected-item-change="$ctrl.selectedItemChange(item)"
                md-items="item in $ctrl.querySearch($ctrl.searchText)"
                md-item-text="item.display"
                md-min-length="2"
                placeholder="Add individuals or groups from previous meetings">
            <md-item-template>
                <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                <md-tooltip ng-if="$ctrl.searchText !== ''" md-direction="right">{{item.tooltip}}</md-tooltip>
            </md-item-template>
            <md-not-found>
                <div ng-if="$ctrl.isValidEmail($ctrl.searchText)">
                    Use "{{$ctrl.searchText}}" as
                    <a ng-click="$ctrl.newParticipantEmail($ctrl.searchText)">new participant email</a>.
                </div>
                <div ng-if="!$ctrl.isValidEmail($ctrl.searchText)">
                    Nothing matches "{{$ctrl.searchText}}".
                    Add new people by email.
                </div>
            </md-not-found>
        </md-autocomplete>

        <br>

        <md-subheader class="md-no-sticky">Current participants</md-subheader>
        <md-list>
            <md-list-item ng-repeat="participant in $ctrl.meeting.participants" class="noright">
                <!-- <img alt=participantrson.username }}" ng-src=participantrson.img }}" class="md-avatar" />-->
                <p>{{ participant.display }}</p>
                <md-button class="md-icon-button" aria-label="Delete Item"
                           ng-click="$ctrl.deleteParticipant(participant)">
                    <md-icon>
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-icon>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>


<p>You can add participants later by sharing the invite link</p>

<a ui-sref="meetingCreate.summary">
    <button class="md-raised md-primary size-long">Continue</button>
</a>
