<div class="form-group">
    <md-input-container>
        <label>Meeting Title</label>
        <input name="title" class="form-control" ng-model="$ctrl.meeting.name" type="text" required>
    </md-input-container>
</div>


<div class="form-group">
    <md-input-container>
        <label>Meeting description</label>
        <textarea class="form-control" ng-model="$ctrl.meeting.purpose" maxlength="500" rows="4"
                  md-select-on-focus></textarea>
    </md-input-container>
</div>

<div class="form-group">
    <md-input-container>
        <label>Meeting location</label>
        <input type="text" class="form-control" name="meetingDesc" ng-model="$ctrl.meeting.location">
    </md-input-container>
</div>

<div id="heroform">
    <a ui-sref="meetingCreate.slots">
        <button class="md-raised md-primary">Continue</button>
    </a>
</div>


