<form name="basicForm">
    <md-input-container class="md-block">
        <label>Meeting Title</label>
        <input name="title" ng-model="$ctrl.meeting.name" type="text" placeholder="meeting" required="">
        <div ng-messages="basicForm.title.$error" role="alert" multiple="">
            <div ng-message="required">Please enter meeting title.</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Meeting description</label>
        <textarea ng-model="$ctrl.meeting.purpose" md-maxlength="500" rows="4" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Meeting location</label>
        <input ng-model="$ctrl.meeting.location" type="text">
    </md-input-container>

    <a ui-sref="meetingCreate.slots">
        <md-button ng-disabled="basicForm.$invalid" class="md-raised md-primary">Next</md-button>
    </a>

</form>



