<div class="form-group">
    <md-input-container class="md-icon-float md-block">
        <label>Duration</label>
        <!--<md-icon>-->
        <!--<ng-md-icon icon="title"></ng-md-icon>-->
        <!--</md-icon>-->
        <input ng-model="formData.duration" type="text">
    </md-input-container>
</div>

<!--<div class="form-group">-->
    <!--<md-input-container class="md-icon-float md-block">-->
        <!--<label>Meeting Description</label>-->
        <!--&lt;!&ndash;<md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<ng-md-icon icon="title"></ng-md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</md-icon>&ndash;&gt;-->
        <!--<input ng-model="formData.meetingDescription" type="text">-->
    <!--</md-input-container>-->
<!--</div>-->

<md-button class="md-raised md-primary" type="submit">Submit</md-button>

<!--<div class="form-group row">-->
<!--<div class="col-xs-6 col-xs-offset-3">-->
<!--<a ui-sref="form.interests" class="btn btn-block btn-info">-->
<!--Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->