<div class="fullwidth">
    <section class="landing" id="hero">
        <img src="/images/logo.svg" alt="Timeet"/>
        <h2>
            The event planner that<br/> arranges a time <strong>for you</strong>
        </h2>
        <button class="md-primary md-raised" ng-click="$ctrl.newMeeting()">
            New Event
        </button>
    </section>

    <section class="landing" id="facilitate">
        <h1>
            Easy to facilitate
        </h1>
        <h2>
            Takes you just a minute, because you don't need to worry about entering lots of timeslots manually
        </h2>
        <div class="gallery">
            <figure>
                <img src="/images/basic_info.svg"/>
                <figcaption>Event purpose and basic info</figcaption>
            </figure>
            <figure>
                <img src="/images/date_range.svg"/>
                <figcaption>Possible date range and duration</figcaption>
            </figure>
            <figure>
                <img src="/images/invite.svg"/>
                <figcaption>Participant invites</figcaption>
            </figure>
        </div>
    </section>

    <section class="landing" id="participate">
        <h1>
            Easy to participate
        </h1>
        <h2>
            Your life doesn't consist of timeslots, so why should your meeting planner?
        </h2>
        <div class="gallery">
            <figure>
                <img src="/images/block_out_busy.svg"/>
                <figcaption>Simply drag to block out busy times</figcaption>
            </figure>
            <figure id="or-even-better-text">
                <figcaption>OR <br/> even better: </figcaption>
            </figure>
            <figure>
                <img src="/images/calendar_import.svg"/>
                <figcaption>Your calendar already knows when you are busy!</figcaption>
            </figure>
        </div>
    </section>

    <section class="landing" id="dialogs">
        <div class="dialog-section">
            <div>
                <h1>Without Timeet <br> What a pain to meet!</h1>
                <div class="scenarios">
                    <img src="/images/dialog_fail_1.svg"/>
                    <img src="/images/dialog_fail_2.svg"/>
                </div>
            </div>
            <div>
                <h1>With Timeet <br> What a bliss to meet!</h1>
                <img src="/images/dialog_success.svg"/>
            </div>
        </div>
    </section>

    <section class="landing" id="features">
        <h1>
            What if you tried with Timeet?
        </h1>
        <div class="gallery features">
            <figure>
                <img src="/images/calendar_import.svg"/>
                <figcaption>Calendar integration</figcaption>
            </figure>
            <figure>
                <img src="/images/drag.svg"/>
                <figcaption>Just drag to block out busy times</figcaption>
            </figure>
            <figure>
                <img src="/images/teams.svg"/>
                <figcaption>Create and save teams to invite faster</figcaption>
            </figure>
            <figure>
                <img src="/images/email_notifications.svg"/>
                <figcaption>Email notifications</figcaption>
            </figure>
            <figure>
                <img src="/images/prioritize.svg"/>
                <figcaption>Prioritise new vs existing events</figcaption>
            </figure>
            <figure>
                <img src="/images/overlaps.svg"/>
                <figcaption>Automatic overlap finder</figcaption>
            </figure>
            <figure>
                <img src="/images/travel_time.svg"/>
                <figcaption>Meeting location and travel times</figcaption>
            </figure>
            <figure>
                <img src="/images/free.svg"/>
                <figcaption>Ad-free</figcaption>
            </figure>
        </div>
    </section>
</div>